
{{#each questions as |question|}}

  <!-- {{> partial}} -->


    <h2>{{instrument.instrument_type}}</h2>
    <h3>{{instrument.price}} dollars per month</h3>
    <h4>Instrument id: {{instrument.id}}</h4>
    <p>My most recent completed repair was of a late 1800 's violin from Czecheslovakia. The bottom block was crack and needed replacing, the sound post had been glued in (!) with what must have been tite-bond. </p>
    <img src="https://reverb-res.cloudinary.com/image/upload/s--J6Vh4L2A--/a_exif,c_limit,e_unsharp_mask:80,f_auto,fl_progressive,g_south,h_620,q_90,w_620/v1455054873/oe32oqj7qovhlda7gc0b.jpg" width="500"><br>
        <!-- <input id="edit-instrument" data-id="{{instrument.id}}" type="button" class="btn btn-default delete-hb" name="submit" value="Edit Instrument"> -->
        <input id="delete-instrument" data-id="{{instrument.id}}" type="button" class="btn btn-default delete-hb" name="submit" value="Delete Instrument">

 <!-- Developers, why are we using data-id and not just id? -->
<!-- <ul><h1 data-id="{{instrument.id}}"> <small><li>{{instrument.id }}<li> Instrument_type: {{instrument.instrument_type}} </small></h1>
  <div> -->
    <!-- {{#if book.description}}
    <li>  {{book.description}}
    {{else}}
    <li>  No description.
    {{/if}} -->
    <!-- <li> <button class="btn btn-default remove-instrument">Remove instrument</button>
  </div>
</ul>
{{/each}}
</ul> -->
