<!--show all user surveys, show all my surveys button, view this survey by owner, can (rename - change edit button) survey, view survey rename to view questions, delete, results (t/f) column // mostly done, survey title-->

<table id="auth-user-survey-table" class="table table-striped signed-in-view">

 <thead>
    <tr>
    <th>{{question.prompt}}</th>
    </tr>
  </thead>
  <h5 class="data-output"></h5>
{{#each questions as |question|}}
      <tr>
        <td class="prompt-title">{{question.prompt}}</td>
        <td><button questionId="{{question.id}}" type="click" class="btn btn-danger delete-survey-button">Delete</button></td>
        <td><button questionId="{{question.id}}" type="click" class="btn btn-danger get-data">Get answer data from this question</button></td>
        <!-- <td><button surveyId="{{survey.id}}" type="click" class="btn btn-danger view-questions-button">View Questions</button></td>
        <td><button userId="{{user.id}}" type="click" class="btn btn-danger delete-auth-survey-button">Delete Question</button></td>
        <td><form class="update-survey-by-id-form" userId="{{user.id}}">
            <input type="text" id="update-auth-survey-by-id-button" name="survey[title]">
            <input type="hidden" name="id" value="{{user.id}}">
        <button userId="{{user.id}}" type="submit" task="text" class="btn btn-info update-survey-button">Edit Question</button>
      </form> -->
      </tr>
  {{/each}}
</table>
